.centrado{
    text-align: center;
}

.iguanatronco{
    width: 100%;
    padding: 25px;
}

.tips{
    list-style:none;
}

@media (min-width:1024px){
    .iguanatronco{
        width:50%;
        float:right;
        z-index: 100;
        display: flex;
    }
    
    .no{
        margin-right:auto;
    }
    
    .tips{
        margin-top: 0px;
    }
    
    .corto{
        margin-right: 525px;
    }
}

iframe{
    margin:auto;
    display: block;
}

@media (max-width:780px){
    iframe{
        width:90%;
    }
}